<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.jrhlive"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".JrhApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppDefaultTranslucent">
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppDefaultTheme">
        </activity>
        <activity
            android:name=".main.ui.MainActivity"
            android:theme="@style/AppDefaultTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="jrh.live"
                    android:pathPrefix="/openwith"
                    android:scheme="jrhapp"/>
            </intent-filter>
        </activity>
        <activity android:name=".rxjava.activity.RxJavaMainActivity">
        </activity>
        <activity android:name=".ani.AnimationActivity">
        </activity>
        <activity android:name=".ani.AniAActivity">
        </activity>
        <activity android:name=".ani.AniBActivity">
        </activity>
        <activity android:name=".ani.AniCActivity">
        </activity>
        <activity android:name=".svg.SvgActivity">
        </activity>
        <activity
            android:name=".test.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppDefaultTheme">
        </activity>
        <activity android:name=".surfaceview.SurfaceViewActivity">
        </activity>
        <activity android:name=".activity.ScrollActivity">
        </activity>
        <activity android:name=".main.test.ui.LoginActivity">
        </activity>
        <activity android:name=".main.ui.DoubleClickTestActivity">
        </activity>
        <activity android:name=".main.ui.ChromeTabsActivity">
        </activity>
        <activity android:name=".main.ui.WebViewActivity">
        </activity>
        <activity android:name=".eventbus.MainEventBusActivity">
        </activity>
        <activity android:name=".eventbus.EeventBusSecondActivity">
        </activity>
        <activity android:name=".rxandroid.MainRxAndroidActivity">
        </activity>
        <activity android:name=".ani.HeartAniActivity">
        </activity>
        <activity android:name=".retrofit.RetrofitActivity">
        </activity>
        <activity android:name=".kenburnsview.KenBurnsViewActivity">
        </activity>
        <activity android:name=".constraintLayout.ConstraintLayoutActivity">
        </activity>
        <activity android:name=".ani.BallDownUpActivity">
        </activity>
        <activity android:name=".test.TestActivity">
        </activity>
        <activity android:name=".svg.SvgSecondActivity">
        </activity>
        <activity
            android:name=".ani.SearchBarActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        </activity>
        <activity android:name=".ani.SearchDetailActivity">
        </activity>
        <activity android:name=".qiniuplayer.activity.PlayerMainActivity">
        </activity>
        <activity android:name=".test.testBrowser.ActivityA">
        </activity>
        <activity
            android:name=".test.testBrowser.BrowserActivity"
            android:process=":browser">
        </activity>
        <activity android:name=".qupai.QupaiActivity">
        </activity>
        <activity android:name=".nestscrolling.NestScrollActivity">
        </activity>
        <activity android:name=".bottomnavigationbar.BottomNavigationBarActivity">
        </activity>
        <activity android:name=".ritchtext.RitchTextActivity">
        </activity>
        <activity android:name=".imgcrop.ImageCropActivity">
        </activity>
        <activity android:name=".test.TableActivity">
        </activity>
        <activity android:name=".ani.SpringAniActivity">
        </activity>
        <activity android:name=".ani.FllowBehaviorActivity">
        </activity>
        <activity android:name=".recycleview.MultiItemRecycleViewActivity">
        </activity>
        <activity android:name=".widget.bezeiercurve.BezeierCurveActivity">
        </activity>
        <activity
            android:name=".meishe.MeisheActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".meishe.ui.VideoEditActivity">
        </activity>
        <activity android:name=".meishe.ui.CaptionEditActivity">
        </activity>
        <activity android:name=".activity.CutActivity">
        </activity>
        <activity android:name=".ani.BoundAniActivity">
        </activity>
        <activity android:name=".richeditor.ui.RichEditorActivity">
        </activity>
        <activity android:name=".toast.ToastActivity">
        </activity>
    </application>

</manifest>